@import url('./styles/font.css');
::selection {
  background-color: #5865f2;
  color: white;
}
body, html {
  margin: 0;
  background: #36393f;
  font-family: 'Whitney Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  width: 100vw;
  height: 100vh;
}
.card-holder {
  width: 100vw;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
